name: ci
on: pull_request

jobs:
  vis-diff:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: Brightspace/third-party-actions@actions/checkout
      - uses: Brightspace/third-party-actions@actions/setup-node
        with:
          node-version: '14'
      - name: Install dependencies
        run: npm install
      - name: Visual Diff Tests
        uses: BrightspaceUI/actions/visual-diff@main
        with:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TEST_PATH: ./test/visual-diff/**/*.visual-diff.js
  lint:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: Brightspace/third-party-actions@actions/checkout
      - uses: Brightspace/third-party-actions@actions/setup-node
        with:
          node-version: 14.x
      - name: Install dependencies
        run: npm install
      - name: Linting
        run: npm run lint
  sauce:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: Brightspace/third-party-actions@actions/checkout
      - uses: Brightspace/third-party-actions@actions/setup-node
        with:
          node-version: 14.x
      - name: Install dependencies
        run: npm install
      - name: SauceLabs Tests
        run: npx web-test-runner --config web-test-runner.sauce.config.js
        env:
          SAUCE_USERNAME: Desire2Learn
          SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY_DESIRE2LEARN }}
